@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&family=Cormorant+Garamond&family=Lavishly+Yours&display=swap');

.home p {
  font-family: 'Roboto Flex', sans-serif;
  color: #FFEFCF;
  letter-spacing: 0.15em;
}

.home h1,
.home h3 {
  font-family: 'Cormorant Garamond', serif;
  color: #FFEFCF;
  letter-spacing: 0.25em;
  font-weight: 100;
}

.home h3 {
  letter-spacing: 0.15em;
  font-weight: 1;
}

.home h2 {
  font-family: 'Lavishly Yours', cursive;
  color: #FFEFCF;
}


